spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/localdb
    username: rewansh
    password: rootrewansh
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: never



debug: true

